@model IList<Article>
@{
    ViewData["Title"] = "Manage Blogs Home cocntrol";
}
<h1>Manage Blogs</h1>
<table class="table table-dark">
    
    <tbody>
        @foreach (var article in Model)
        {
            <partial name="_ArticleCardPartial" model="article" />
        }
    </tbody>
</table>