@model VivesBlog.Models.ViewModels.ArticlePerson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog artikel toevoegen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <partial name="_CreateEditPartial" model="Model" />
            <button type="submit" class="btn btn-primary">aanmaken</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
