@model VivesBlog.Models.ViewModels.ArticlePerson


@{


}
<form method="post">
    <partial name="CreateEditPartial" model="Model" />
    <button type="submit" class="btn btn-primary">Aanmaken</button>
</form>