@{
    ViewData["Title"] = "Manage Blogs";
}
<h1>Manage Blogs</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Author</td>
            <td>Created</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Het eerste artikel</td>
            <td>Bavo Ketels</td>
            <td>28/09/2020 15:59</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Het tweede artikel</td>
            <td>Bavo Ketels</td>
            <td>28/09/2020 16:11</td>
        </tr>
    </tbody>
</table>